appdirs==1.4.3
asgiref==3.3.1
certifi==2020.6.20
click==7.1.2
colorama==0.4.4
distlib==0.3.0
dj-database-url==0.5.0
Django==3.1.7
django-cors-headers==3.7.0
django-filter==2.4.0
django-heroku==0.3.1
djangorestframework==3.12.2
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.8
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
Markdown==3.3.4
MarkupSafe==1.1.1
mgzip==0.2.1
numpy==1.18.1
pandas==1.0.1
Pillow==8.1.2
psycopg2==2.8.6
python-dateutil==2.8.1
pytz==2019.3
qrcode==6.1
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sqlparse==0.4.1
virtualenv==20.0.7
Werkzeug==1.0.1
whitenoise==5.2.0
wincertstore==0.2
